/* Colors:
Tan: #ffdeac
Red: #7b0000
Yellow: #fff3ac */

* {
  text-align: center;
  margin: 0;
}

body {
	background-color: #ffdeac;
}

header {
	background-color: #7b0000;
	color: #fff3ac;
	margin: auto;
	padding: 3%;
	font-size: 4rem;
	font-family: 'Changa One', cursive;
}

main {
	background-color: #ffdeac;
	color: #7b0000;
	margin: auto;
	padding: 7%;
}

section p {
	float: left;
	font-size: 4rem;
	font-family: 'Roboto', sans-serif;
}

#petro {
	padding: 2%;
	float: right;
}

footer {
	background-color: #7b0000;
	color: #fff3ac;
	margin: auto;
	padding: 3%;
	clear: both;
	font-size: 2rem;
	font-family: 'Changa One', cursive;
}